a{
  text-decoration: none;
  color: black;
}
li{
      display: block;
}
.li-row,.li-row-amazing{
  display: inline-flex;
  margin: -3px -2px;
}
#body{
margin: 0 auto;
max-width: 980px;
background-image: url(background-image/pg.jpg);
background-attachment: fixed;
height: 600px;
min-width: 320px;
}
.style{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #000;
    opacity: .8;
    left: 0;
    top: 0;
    z-index: 1;
}
/*header*/
#header{
  background-color: #fff;
  margin: auto;
  width: 100%;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
}
.container{
  padding: 0 18.5px;
	width: 936px;
	height: 62px;
  margin: 0 auto;
}
#navbar{
float: left;
}
#logo{
  position: absolute;
  margin: 5px 12.5px 4px 12.5px; 
  right: 4%;
}
#text_logo{
    font-size: 40px;
    color:#333;
}
.table{
  margin: 0;
  padding: 0;
}
.elements-of-tabel:hover{
  border-color: #333;
  color: #555;
  transition: .4s
}
.elements-of-tabel{
padding: 18px 15px 17px 15px;
font-family: 'Cairo', sans-serif;
font-size: 14px;
color: #333;
border-bottom: 2.4px solid#fff;
}
.elements-of-tabell:hover{
  background-color: #666;
  border-color: #333;
  transition: .4s;
}
.elements-of-tabell{
  background-color:#333;
  color: #fff;
  padding: 20px 15px 17px 15px;
  font-family: 'Cairo', sans-serif;
  font-size: 14px;
  border-bottom: 2.4px solid#333;
}

/*header mobile verson*/
.fa{
    font-size: 30px;
}
#dissapear-list{
  width: 230px;
  position: absolute;
  top: 62px;
  left: 3%;
  text-align: right;
  display: none;
  margin: 0;
  padding: 0;
  z-index: 1;
}
.column{
padding: 0;
display: block;
background-color: #f9f9f9;
}
.li-column{
padding: 7px 15px;
font-size: 14px;
color: #333;
font-family: 'Cairo', sans-serif;
border-bottom: 2px solid#fff;
display: block;
}
.li-column:hover{
  color: #555;
  transition: .3s;
  border-color: #666;
}
#click{
    padding: 15px 15px;
    display: none;
    position: absolute;
    color: #333;
    border-bottom: 2.4px solid#fff;
}
#click:hover{background-color: #ccc;}
/*main*/
#main{
   z-index: 5;
   position: absolute;
   left: 5%;
    right: 5%;
}
.logo{
margin:0 auto;  
max-width: 980px;
text-align: center;
}
.image{
    width: 270px;
    margin-top: 120px;
}
.text{
    margin-top: 20px;
    margin-bottom: 40px;
    color: #a4995f;
    font-family:  'Cairo', sans-serif;
    font-size: 18px;
}
.facebook{
    border-top: 2px solid#fff;
    margin-top: 20px;
    padding-top: 50px;
    width: 150px;
    margin: 0 auto;
}
@media screen and (min-width: 320px) and (max-width: 550px)  {
    #click{display: block;}
    .table1{display: none;}
}